#cloud {
	position: relative;
	top: 50px;
	left: -100px;
	opacity: 0;
	z-index: 3;
}

#cloud.animate {
	@include vendor-prefix(animation-name,cloud);
	@include vendor-prefix(animation-duration,10s);
	@include vendor-prefix(animation-timing-function,ease);
	@include vendor-prefix(animation-iteration-count,1);
	@include vendor-prefix(animation-direction,normal);
	@include vendor-prefix(animation-delay,0);
	@include vendor-prefix(animation-play-state,running);
	@include vendor-prefix(animation-fill-mode,forwards);
}

@include keyframes(cloud) {
	0% {
		opacity:0;
		left: -100px;
	}
	
	50% {
		opacity: 1;
	}
	
	75% {
		opacity:1;
		left: 100px;
	}
	
	100% {
		opacity:0;
		left: 500px;
	}
}

.cloud {
	border-radius: 90px / 30px;
	width: 160px;
	height: 50px;
	background: #fff;
	position: absolute;
	top: 10px;
}

.cloud-2 {
	left: 50px;
	top: 0;
}

.cloud-3 {
	left: 100px;
	top: 20px;
}