@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes $animation-name {
		@content;
		
	}

	@-ms-keyframes $animation-name {
		@content;
		
	}
	
	@-moz-keyframes $animation-name {
		@content;
		
	}
	
	@-o-keyframes $animation-name {
		@content;
		
	}
	
	@keyframes $animation-name {
		@content;
		
	}
}

#container {
	width: 500px;
	margin: 0px auto;
}

#start-animation {
	margin: 20px 0 0 195px;
	padding: 5px;
}




@import 'sky';
@import 'ground';
@import 'sun';
@import 'cloud';
@import 'moon';